<!--Layout Login/cadastro-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="auth-layout" style="background-image: url('{% static 'media/bg-auth.jpg' %}');">
    
    <header class="auth-header">
        <div class="brand-logo">
            <span class="logo-text">B</span>
        </div>
        <a href="{% url 'index' %}" class="nav-link-subtle">INÍCIO</a>
    </header>

    <div class="auth-container">
        {% block auth_content %}
        {% endblock %}
    </div>

    {% include 'components/footer.html' %}

</div>
{% endblock %}