/* ESTRUTURAS DE GRID E CONTAINERS */


/*Usando em tudo*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* --- Usando no index --- */
.section-spacing {
    padding: 4rem 0;
    background-color: var(--bg-base);
}