/*Css utilitario*/

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }


/* --- Esconder a Barra de Rolagem --- */
html, body, .dashboard-main, .dashboard-sidebar {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar, 
.dashboard-main::-webkit-scrollbar, 
.dashboard-sidebar::-webkit-scrollbar {
    display: none;
}

/* --- ANIMAÇÕES GLOBAIS --- */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    animation: fadeUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0; 
}