<!-- Layout raiz: Aqui vai ficar a estrutura básica do HTML, tags e importação de scripts e estilos globais. -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BracketMaster{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock style %}
</head>
<body>

    <main>
        {% block content %}
        <!-- Child templates will inject content here -->
        {% endblock %}
    </main>
 
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
