<footer class="main-footer">
    <div class="container">
        
        <div class="footer-top">
            
            <div class="footer-brand-section">
                <div class="social-links">
                    <a href="https://github.com/Luiz-Gustavo-Soares/bracketmaster" target="_blank" class="social-link"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                
                <p class="brand-disclaimer">
                    A plataforma definitiva para organizar chaves, gerenciar torneios e acompanhar sua evolução no Magic: The Gathering.
                </p>
                
                <div class="legal-links">
                    <a href="#">Termos de Uso</a>
                    <a href="#">Privacidade</a>
                    <a href="https://github.com/Luiz-Gustavo-Soares/bracketmaster" target="_blank"></i> Codigo Fonte</a>
                </div>
            </div>

            <div class="footer-links-section">
                <div class="footer-col">
                    <h5 class="footer-col-title">Explorar</h5>
                    <a href="#">Dashboard</a>
                    <a href="#">Perfis</a>
                    <a href="#">Torneios</a>
                    </div>
            </div>

        </div>

        <div class="footer-bottom text-center">
            
            <div class="footer-bottom-content">
                <span class="copyright-text">© 2026 BracketMaster. Todos os direitos reservados.</span>
            </div>
            
            <div class="wotc-disclaimer">
                <p>Magic: The Gathering é marca registrada (TM) e copyright da Wizards of the Coast, Inc., uma subsidiária da Hasbro, Inc. Todos os direitos reservados. Todas as artes são propriedade de seus respectivos artistas e/ou da Wizards of the Coast.</p>
                <p>O BracketMaster é um projeto independente e não é produzido, afiliado, patrocinado ou explicitamente endossado pela Wizards of the Coast.</p>
            </div>
            
        </div>
        
    </div>
</footer>