<div style="display: flex; flex-direction: column; height: 100%; background-color: rgba(9, 9, 11, 0.7); backdrop-filter: blur(8px);">
    
    <div style="padding: 1.5rem; border-bottom: 1px solid rgba(255, 255, 255, 0.05);">
        <a href="{% url 'home' %}" class="logo-text">B</a>
    </div>

    <nav style="flex-grow: 1; padding: 2rem 1.5rem; display: flex; flex-direction: column; gap: 1rem;">
        <a href="#" class="nav-login-link">
            👤 Perfil
        </a>
        <a href="#" class="nav-login-link">
            📩 Inbox
        </a>
        <a href="#" class="nav-login-link">
            🕰️ Histórico
        </a>
        <a href="#" class="nav-login-link">
            🏆 Torneios
        </a>
        <a href="#" class="nav-login-link">
            🗃️ Decks
        </a>
        <a href="#" class="nav-login-link" style="margin-top: auto;">
            ❓ Ajuda
        </a>
    </nav>
</div>