{% extends 'layouts/base_dashboard.html' %}
{% load static %}

{% block title %}Meus Torneios{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/meus_torneios.css' %}">
{% endblock %}

{% block content %}

<div class="dashboard-container">

    {% comment %} {% if not inscricoes and not torneios_criados %}

        <div id="state-empty" class="state-view active">
            <div class="empty-state" style="margin-top: 6rem;">
                <i class="fa-solid fa-shield-halved empty-icon"></i>
                <h2 class="empty-title">Sem torneios ainda!</h2>
                <p class="empty-text">Organize o seu primeiro torneio, descubra pela plataforma ou peça um link de convite ao seu organizador local.</p>
                <button class="btn btn-outline" onclick="switchState('state-form-create')">
                    <i class="fa-solid fa-plus"></i> CRIAR TORNEIO
                </button>
            </div>
        </div>  
    {% endif %}
     {% endcomment %}
    
    {% if not torneio_participantes_edit %}

    <div id="state-list" class="state-view active">
        
        {% if not torneio_edicao %}
        <h1 class="section-title">Inscritos</h1>
        
        <div id="container-inscritos">
            {% if inscricoes %}
                {% for inscricao in inscricoes %}
                    <div class="tournament-card" id="card-inscrito-exemplo">
                            <div class="tc-header">
                                <div class="tc-title-row">
                                    <h3 class="tc-title">{{ inscricao.torneio.nome }}</h3>
                                    <span class="badge badge-success">{{ inscricao.get_status_display }}</span>
                                </div>
                                {% if inscricao.torneio.tempo_para_iniciar  %}
                                    <span class="tc-meta">Daqui a {{ inscricao.torneio.tempo_para_iniciar }} dias</span>
                                {% else %}
                                    <span class="tc-meta">Hoje</span>
                                {% endif %}
                            </div>
                            
                            <div class="tc-details">
                                <span><i class="fa-regular fa-calendar"></i> {{ inscricao.torneio.data_inicio|date:"d/m/Y" }} às {{ inscricao.torneio.data_inicio|date:"H:m" }}</span>
                                <span><i class="fa-solid fa-location-dot"></i> {{ inscricao.torneio.local }}</span>
                            </div>
                            
                            <div class="tc-footer">
                                <div class="tc-badges">
                                    <span class="badge">{{ inscricao.torneio.get_formato_jogo_display }}</span>
                                    <span class="badge">{{ inscricao.torneio.get_tipo_display }}</span>
                                </div>
                                
                                <div class="tc-actions">
                                    <a href="mailto:{{inscricao.torneio.organizador.email}}?subject=Torneio: {{inscricao.torneio.nome}}" target="_blank" >
                                        <button class="btn-icon" title="Ver detalhes do torneio">
                                            <i class="fa-regular fa-envelope"></i>
                                        </button>
                                    </a>
                                    
                                    <a href="{% url "torneio_view" inscricao.torneio.id %}">
                                        <button class="btn-icon" title="Ver detalhes do torneio">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                    </a>
                                    <a href="{% url "play" inscricao.torneio.id %}" target="_blank">
                                        <button class="btn-icon btn-play-action" title="Jogar">
                                            <i class="fa-solid fa-play"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="info-text" id="aviso-sem-inscricoes">
                    Você ainda não se inscreveu em nenhum torneio. Descubra pela plataforma ou peça um link de convite ao seu organizador local.
                </p>
            {% endif %}
            
            
            <h1 class="section-title" style="margin-top: 3rem;">Criados</h1>
            
            {% for torneio in torneios_criados %}
            <div class="tournament-card">
                <div class="tc-header">
                    <div class="tc-title-row">
                        <h3 class="tc-title">{{ torneio.nome }}</h3>
                        <span class="badge">{{ torneio.get_status_display }}</span>
                        {% if torneio.count_participantes_validos >= torneio.numero_maximo_participantes %}
                            <span class="badge badge-danger">Lotado</span>
                        {% endif %}
                    </div>
                    {% if not torneio.status == 'FINALIZADO' %}
                        {% if torneio.tempo_para_iniciar  %}
                            <span class="tc-meta">Daqui a {{ torneio.tempo_para_iniciar }} dias</span>
                        {% else %}
                            <span class="tc-meta">Hoje</span>
                        {% endif %}
                    {% endif %}
                </div>
                
                <div class="tc-details">
                    <span><i class="fa-regular fa-calendar"></i> {{ torneio.data_inicio|date:"d/m/Y" }} às {{ torneio.data_inicio|date:"H:m" }}</span>
                    <span><i class="fa-solid fa-users"></i> {{ torneio.count_participantes_validos }}/{{ torneio.numero_maximo_participantes }}</span>
                    <span><i class="fa-solid fa-location-dot"></i> {{ torneio.local }}</span>
                </div>
                
                <div class="tc-footer">
                    <div class="tc-badges">
                        <span class="badge">{{ torneio.get_formato_jogo_display }}</span>
                        <span class="badge">{{ torneio.get_formato_torneio_display }}</span>
                        <span class="badge">{{ torneio.numero_rodadas}} RODADAS</span>
                    </div>
                    
                    <div class="tc-actions">
                        <a href="{% url "meus_torneios_edit" torneio.pk %}">
                            <button class="btn-icon" title="Editar Torneio" onclick="switchState('state-form-edit')">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                        <a href="{% url "meus_torneios_participantes_edit" torneio.id 'edit' %}">
                            <button class="btn-icon" title="Gerenciar Inscrições" onclick="switchState('state-inscriptions')">
                                <i class="fa-solid fa-users-gear"></i>
                            </button>
                        </a>
                        <a href="{% url "torneio_view" torneio.id %}">
                            <button class="btn-icon" title="Ver detalhes do torneio">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </a>
                        <a href="{% url "play" torneio.id %}" target="_blank">
                            <button class="btn-icon btn-play-action" title="Iniciar Partidas">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
    
            {% comment %} <button class="btn btn-outline" onclick="switchState('state-form-create')" style="margin-top: 1rem;">
                <i class="fa-solid fa-plus"></i> CRIAR TORNEIO
            </button> {% endcomment %}
        </div>
        
        {% endif %}
        
        <div class="inscriptions-header-row">
            {% if torneio_edicao %}
                <h1 class="section-title" id="form-main-title">Editar Torneio</h1>
                <a href="{% url "meus_torneios" %}"><button class="btn btn-outline" onclick="switchState('state-list')"><i class="fa-solid fa-arrow-left"></i> Voltar</button></a>
            {% else %}
                <h1 class="section-title" id="form-main-title">Criar Torneio</h1>
            {% endif %}
        </div>

        <div id="state-form" class="state-view active">
            <form method="POST" 

            {% if torneio_edicao %}
                action="{% url "meus_torneios_edit" torneio_edicao.pk %}"
            {% else %}
                action="{% url "meus_torneios" %}"
            {% endif %}
            >
                {% csrf_token %}

                <h2 class="sub-title">Informações</h2>
                <div class="form-grid full">
                    <div class="form-group">
                        <label  for="{{ form.nome.id_for_label }}" class="form-label">Título</label>
                        {{ form.nome }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição</label>
                        {{ form.descricao }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.data_inicio.id_for_label }}" class="form-label">Data e Horário</label>
                        {{ form.data_inicio }}
                    </div>
                </div>

                {% comment %} <div class="form-grid">
                    <div class="form-group">
                        <label class="form-label">Modalidade</label>
                        <select class="form-control" id="f-mod" onchange="toggleModalidade()">
                            <option value="Presencial">Presencial</option>
                            <option value="Remoto">Remoto</option>
                        </select>
                    </div>
                    
                    <div class="form-group" id="wrap-plataforma" style="display: none;">
                        <label class="form-label">Plataforma</label>
                        <input type="text" class="form-control" id="f-plat" placeholder="Ex: Discord, SpellTable">
                    </div>
                </div>  {% endcomment %}

                <div id="wrap-localizacao">
                    <label class="form-label" style="margin-bottom: 0.5rem; display: block;">Localização</label>
                    <div class="form-grid">
                        <div class="form-group">{{ form.cidade }}</div>
                        <div class="form-group">{{ form.estado }}</div>
                        <div class="form-group">{{ form.lagradouro }}</div>
                        <div class="form-group">{{ form.numero }}</div>
                        <div class="form-group">{{ form.bairro }}</div>
                        <div class="form-group">{{ form.complemento }}</div>
                    </div>
                </div>

                <div class="form-grid">
                    <div class="form-group">
                        <label  for="{{ form.numero_maximo_participantes.id_for_label }}" class="form-label">Número de Jogadores</label>
                        {{form.numero_maximo_participantes}}
                    </div>
                </div>

                <h2 class="sub-title">Inscrição</h2>
                <div class="form-grid">
                    <div class="form-group">
                        <label for="{{ form.valor_inscricao.id_for_label }}"  class="form-label">Valor</label>
                        {{ form.valor_inscricao }}
                    </div>
                    {% comment %} <div class="form-group">
                        <label for="{{ form.data_inicio.id_for_label }}" class="form-label">Prazo</label>
                        <input type="date" class="form-control" id="f-pra">
                    </div> {% endcomment %}
                </div>
                <div class="form-grid full">
                    <div class="form-group">
                        <label for="{{ form.premiacoes.id_for_label }}" class="form-label">Premiação</label>
                        {{ form.premiacoes }}
                    </div>
                </div>

                <h2 class="sub-title">Jogabilidade</h2>
                <div class="form-grid">
                    <div class="form-group">
                        <label for="{{ form.formato_jogo.id_for_label }}" class="form-label">Formato</label>
                        {{ form.formato_jogo }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.formato_torneio.id_for_label }}" class="form-label">Estratégia</label>
                        {{ form.formato_torneio }}
                    </div>
                    <div class="form-group">
                        <label  for="{{ form.numero_rodadas.id_for_label }}" class="form-label">Número de Rodadas</label>
                        {{ form.numero_rodadas }}
                    </div>
                    <div class="form-group">
                        <label  for="{{ form.tipo.id_for_label }}" class="form-label">Tipo</label>
                        {{ form.tipo }}
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-outline" id="btn-form-submit" onclick="switchState('state-list')">SALVAR</button>
                </div>

            </form>
        </div>
    {% endif %}

    {% if torneio_participantes_edit %}
        <div id="state-inscriptions" class="state-view active">
            <div class="inscriptions-header-row">
                <h1 class="section-title">Inscrições: {{ torneio_edicao.nome }}</h1>
                <a href="{% url "meus_torneios" %}"><button class="btn btn-outline" onclick="switchState('state-list')"><i class="fa-solid fa-arrow-left"></i> Voltar</button></a>
            </div>
            <div class="table-wrapper">
                <table class="data-table">
                    <thead><tr><th>Jogador</th><th>Contato</th><th>Cidade</th><th>Status</th><th style="text-align: right;">Ação</th></tr></thead>
                    <tbody>
                        {% for participante in torneio_participantes_edit_list %}
                            <tr>
                                <td class="player-name-cell"><a href="{% url "profile_view" participante.jogador.username %}">{{ participante.jogador.profile.nickname }}</a>  </td>
                                
                                <td class="table-muted-cell"> <a href="mailto:{{participante.jogador.email}}?subject=Torneio: {{participante.torneio.nome}}" target="_blank" ><i style="font-size: 22px; "class="fa-regular fa-envelope"></i></a></td>
                                    
                                <td class="table-muted-cell">{{ participante.jogador.profile.cidade.str_city }}</td>
                                <td class="table-muted-cell">{{ participante.get_status_display }}</td>
                                
                                <td>
                                    <div class="table-actions-container">
                                        {% if participante.status ==  'AP' %}
                                        <a href="{% url "rejeitar_participante" torneio_edicao.id participante.id %}">
                                            <button class="btn-icon btn-reject" title="Remover Jogador">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </a>
                                        {% else %}{% if participante.status == 'RE' %}
                                            <a href="{% url "aprovar_participante" torneio_edicao.id participante.id %}">
                                                <button class="btn-icon btn-accept" title="Aceitar Inscrição">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                            </a>
                                        {% else %}
                                            <a href="{% url "aprovar_participante" torneio_edicao.id participante.id %}">
                                                <button class="btn-icon btn-accept" title="Aceitar Inscrição">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                            </a>
                                            <a href="{% url "rejeitar_participante" torneio_edicao.id participante.id %}">
                                                <button class="btn-icon btn-reject" title="Remover Jogador">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </a>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
{% comment %} <script src="{% static 'js/meus_torneios.js' %}"></script> {% endcomment %}
{% endblock %}