{% extends 'layouts/base_dashboard.html' %}
{% load static %}

{% block title %}Meu Perfil | BracketMaster{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard_perfil.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container animate-fade-up">

    <div class="profile-dash-hero"
         style="background-image: url('{% if user.profile.banner %}{{ user.profile.banner.url }}{% else %}{% static 'media/backgrounds/casal_magic.jpg' %}{% endif %}');">

        <div class="hero-overlay"></div>

        <div class="hero-content">

            <div class="hero-left">

                <div class="avatar-container">
                    <img src="{{ user.profile.get_avatar_path }}"
                        alt="Avatar"
                        class="dash-avatar">
                </div>

                <div class="player-info">
                    <h1 class="player-name">{{ user.profile.nickname }}</h1>

                    <span class="player-username">
                        @{{ user.username }}
                    </span>
                </div>

            </div>

            <div class="dash-stats">

                <div class="stat-box">
                    <span class="stat-value">{{ profile.count_part_partidas }}</span>
                    <span class="stat-label">Partidas</span>
                </div>

                <div class="stat-divider"></div>

                <div class="stat-box">
                    <span class="stat-value" style="color: var(--success, #10b981);">
                        {{ profile.taxa_vitoria }}
                    </span>
                    <span class="stat-label">Win Rate</span>
                </div>

                <div class="stat-divider"></div>

                <div class="stat-box">
                    <span class="stat-value">
                        <i class="fa-solid fa-heart"
                        style="color: var(--danger, #ef4444);"></i>
                        {{ profile.count_likes_recebidos }}
                    </span>
                    <span class="stat-label">Likes</span>
                </div>

                <div class="stat-divider"></div>

                <div class="stat-box">
                    <span class="stat-value">{{ profile.count_part_torneio }}</span>
                    <span class="stat-label">Torneios</span>
                </div>

            </div>

        </div>
    </div>

    <div class="profile-bio-card">

        <div class="bio-header">
            <i class="fa-solid fa-user"></i>
            Sobre o Jogador
        </div>

        <p class="bio-text">
            {% if user.profile.bio %}
                {{ user.profile.bio }}
            {% else %}
                Nenhuma biografia adicionada ainda.
            {% endif %}
        </p>
    </div>

    <div class="profile-form-container">

    <div class="profile-form-container">

        <div class="section-header">
            <h2 class="section-title">
                Informações Pessoais
            </h2>
        </div>

        <form method="POST" action="{% url "dashboard" %}">
            {% csrf_token %}

            <div class="form-grid">

                <div class="form-group">
                    <label class="form-label">Usuário</label>

                    <input type="text"
                           class="form-control input-disabled"
                           value="{{ user.username|default:'MagoDesconhecido' }}"
                           disabled
                           title="O nome de usuário de login não pode ser alterado.">
                </div>

                <div class="form-group">
                    <label for="{{ form.nickname.id_for_label }}"  class="form-label">Nickname</label>

                    {{ form.nickname }}
                </div>

            </div>

            <div class="form-group">

                <label  for="{{ form.nickname.id_for_label }}" class="form-label">Bio</label>

            {{ form.bio }}

            </div>

            <div class="form-grid">

                <div class="form-group">
                    <label  for="{{ form.cidade.id_for_label }}" class="form-label">Cidade</label>

                    {{ form.cidade }}
                </div>

                <div class="form-group">
                    <label  for="{{ form.estado.id_for_label }}" class="form-label">Estado</label>

                    {{ form.estado }}
                </div>

            </div>

            <div class="form-actions">

                <button type="submit"
                        class="btn-block btn-primary-purple"
                        style="max-width: 250px;">

                    <i class="fa-solid fa-floppy-disk"></i>
                    Salvar Alterações

                </button>

            </div>

        </form>

    </div>

</div>
{% endblock %}